{{#if items}}

  <div class="grid panel"></div>

  <nav class="gridPagination text-right"></nav>

{{else}}

  <div class="blankslate large-format">
    <i class="icon icon-folder"></i>
    <h3>{{t "tickets:::sections::Statuses"}}</h3>
    <p>{{t "tickets:::There are no available statuses"}}</p>
  </div>

{{/if}}

<footer class="form-group form-actions">
  <div class="pull-right">
    <button type="button" class="btn btn-primary newStatus">
      {{t "tickets:::New status"}}
    </button>
  </div>
</footer>
