{{#if items}}

  <div class="grid panel"></div>

  <nav class="gridPagination text-right"></nav>

{{else}}

  <div class="blankslate large-format">
    <i class="icon icon-folder"></i>
    <h3>{{t "sections::Managers"}}</h3>
    <p>{{t "managers:::There are no available managers"}}</p>
  </div>

{{/if}}

<footer class="form-group form-actions">
  <div class="pull-right">
    <button type="button" class="btn btn-primary newManager">
      {{t "managers:::New manager"}}
    </button>
  </div>
</footer>
