.form-actions
  margin: 15px 0
  overflow: auto

#form-content-region .sectionContainer
  padding: 2px

.control-label-extra
  float: right
  font-size: smaller

ul.checkbox
  padding-left: 0
  list-style: none

legend.form-label
  font-size: 1em
  font-weight: bold
  border: none
  display: inline
