<div class="container-fluid">

  <div class="row">
    <div class="col-md-12" id="stats-byDate-container"></div>
  </div>

  <div class="row">
    <div id="stats-kb-container" class="col-md-6"></div>
    <div id="stats-users-container" class="col-md-6"></div>
  </div>

</div>
