<div class="row">
  <div id="dashboard-region1" class="col-md-6"></div>
  <div id="dashboard-region2" class="col-md-6"></div>
</div>

<div class="row">
  <div id="dashboard-region3" class="col-md-6"></div>
  <div id="dashboard-region4" class="col-md-6"></div>
</div>
